# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://eciylidpmtkurgcyzqav.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjaXlsaWRwbXRrdXJnY3l6cWF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0OTE1MDUsImV4cCI6MjA5ODA2NzUwNX0.hFtxYZnwmjnk5OlWomhgINeVt0uwp-qyljdfD-QnOxw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVjaXlsaWRwbXRrdXJnY3l6cWF2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjQ5MTUwNSwiZXhwIjoyMDk4MDY3NTA1fQ.AMlX3msrtkEYlK1jK4pKQdaRQsDM5RPZo8KFPxqHvm8

# Gemini AI
GEMINI_API_KEY=AQ.Ab8RN6JMlyvIqJYHTqGX7V-diYZt0BmeqyiECV31qo5P9XfLQw

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
